body {
   margin: 0;
   background: #1A2226;
   font-family: 'Roboto', sans-serif;
   color: white;
}
div#logged.col {
   display: flex;
   width: auto;
   text-align: center;
   justify-content: center;
}
#logged p{
   color: white;
   font-size: 1.2vw;
   font-family: 'Roboto', sans-serif;
   padding-top: 2vh;
}
p {
   margin-bottom: 0.5rem;
}

.nav-link {
   padding: 0.3rem;
}

.nav-link > button > i {
   margin-right: 0.5vw;
}

.nav-link > button{
   display: flex;
   flex-direction: row;
   color: aliceblue;
   font-weight: bold;
   float: right;
   font-size: 1vw;
   background-color: #0e3e81;
   border-color: white;
}

.nav-link > button:hover, .nav-link > button:focus {
   background-color: white;
   color: #0d6efd;
}
.navbar {
   background-color: #0e3e81;
}

.mode {
   display: flex;
   margin-top: 15vh;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: auto;
   background-color: #0e3e81;
}
.mode > a {
   padding: 0;
   height: 100%;
   width: 100%;
}
.mode > a > button {
   text-align: center;
   padding-top: 1.5vh;
   font-family: 'Roboto', sans-serif;
   font-size: 2.4vh;
   width: 100%;
   height: 100%;
   background-color: #0e3e81;
   color: aliceblue;
   border: 0;
}
.mode_btn.active, .mode_btn:hover {
   font-size: 2.5vh;
   color: aliceblue;
   font-weight: bold;
}
.stream_holder {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   outline: solid 0px white;
   position: relative;
   margin-top: 15vh;
}
.stream_holder img {
   display: block;
   width: 768px;
   height: 576px;
   border: 3px solid #0e3e81;
}
.stream_holder > .camera-controls-flex {
   position: absolute;
   width: 768px;
   height: 576px;
   justify-content: space-between;
}
.camera-direction {
    width: auto;
    height: auto;
    font-size: 1.4vh;
    margin: 30px;
}
.camera-controls-flex > div.first, .camera-controls-flex > div.third{
    justify-content: center;
}
.camera-controls-flex > div.second {
   justify-content: space-between;
}
.voice_recorder {
   display: flex;
   justify-content: center;
   width: 100%;
   outline: solid 1px white;
}
.content {
   display: flex;
   justify-content: center;
   width: 100%;
   border: 2px solid #0e3e81;
   margin-top: 2vh;
   padding: 3vh;
}

.alerts {
   display: flex;
   justify-content: center;
   margin-top: 2vh;
}
.btn-holder {
   margin-top: 3vh;
   margin-bottom: 3vh;
   justify-content: center;
}
#snapBtn {
   width: 15vw;
   height: auto;
   padding: 1.5vh;
}

.offcanvas {
   color: black;
}

div.offcanvas-body > div.form-check {
   margin-bottom: 1.5vh;
}

@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  /* For large monitors: */
   .stream_holder img {
      width: 832px;
      height: 624px;
   }
   .stream_holder > .camera-controls-flex {
      width: 832px;
      height: 624px;
   }
   .camera-direction {
      margin: 30px;
   }
   .stream_holder {
      margin-top: 8vh;
   }
   .mode {
      margin-top: 8vh;
   }
   #logged p{
      font-size: 16px;
      margin-right: 2vw;
   }
   .nav-link > button{
      font-size: 15px;
   }
   #snapBtn {
      font-size: 19px;
      padding: 0.7vh;
      width: 20vw;
      height: 5vh;
   }
   .mode > a > button {
      font-size: 19px;
   }
   .mode_btn.active, .mode_btn:hover {
      font-size: 19px;
   }
   .navbar-brand {
      font-size: 23px;
   }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  /* For laptops: */
   .stream_holder img {
      width: 544px;
      height: 408px;
   }
   .stream_holder > .camera-controls-flex {
      width: 544px;
      height: 408px;
   }
   .stream_holder {
      margin-top: 4vh;
   }
   .mode {
      margin-top: 8vh;
   }
   .mode > a > button {
      font-size: 15px;
   }
   .mode_btn.active, .mode_btn:hover {
      font-size: 15px;
   }
   #snapBtn {
      font-size: 17px;
      padding: 0.7vh;
      width: 20vw;
      height: 7vh;
   }
   .navbar-brand {
      font-size: 21px;
   }
   .nav-link > button{
      font-size: 13px;
   }
   #logged p{
      font-size: 15px;
   }
   .camera-direction > i {
      font-size: 12px;
   }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* For laptops: */
   .stream_holder img {
      width: 435px;
      height: 326px;
   }
   .stream_holder > .camera-controls-flex {
      width: 435px;
      height: 326px;
   }
   .stream_holder {
      margin-top: 3vh;
   }
   .mode {
      margin-top: 3vh;
   }
   #logged p{
      font-size: 1.4vw;
      margin-right: 2vw;
   }
   .nav-link > button{
      font-size: 12px;
   }
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   .stream_holder img {
      width: 384px;
      height: 288px;
   }
   .stream_holder > .camera-controls-flex {
      width: 384px;
      height: 288px;
   }
   .stream_holder {
      margin-top: 5vh;
   }
   .mode {
      margin-top: 1.5vh;
      height: auto;
   }
   #logged p{
      margin-top: 1vh;
      color: white;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      float: right;
   }

   .nav-link {
      margin-right: 5vw;
   }

   .nav-link > button{
      font-size: 10px;
   }

   .navbar-brand {
      font-size: 18px;
   }
   .justify-content-end {
      justify-content: space-around!important;
   }
   .btn-holder {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
   }
   #snapBtn {
      font-size: 15px;
      padding: 0.7vh;
      width: 30vw;
      height: auto;
   }
   .mode > a > button {
      font-size: 12px;
   }
   .mode_btn.active, .mode_btn:hover {
      font-size: 12.5px;
   }
   .content {
      margin-top: 1vh;
   }
   .alerts {
      margin-top: 1vh;
   }
   div.container-fluid {
      padding: 1.2vw;
   }
   .nav-link {
      padding: 0;
   }
   .camera-direction > i {
      font-size: 10px;
   }
}