body {
   margin: 0;
   background: #1A2226;
   font-family: 'Roboto', sans-serif;
   color: white;
}
#logged {
   width: 23vw;
   text-align: center;
}
#logged p{
   margin-top: 1vh;
   color: white;
   font-size: 1.6vh;
   font-family: 'Roboto', sans-serif;
   float: right;
}

#logout #logout_btn {
   font-size: 1.5vh;
   color: aliceblue;
   font-weight: bold;
   float: right;
}

#logout #logout_btn:hover {
   background-color: white;
   color: #0d6efd;
}
.navbar {
   background-color: #0e3e81;
}

.mode {
   display: flex;
   margin-top: 15vh;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 5vh;
   background-color: #0e3e81;
}
.mode > a {
   padding: 5px;
   height: 100%;
   width: 100%;
}
.mode > a > button {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 2vh;
   width: 100%;
   height: 100%;
   background-color: #0e3e81;
   color: aliceblue;
   border: 0;
}
.mode_btn.active, .mode_btn:hover {
   font-size: 2.1vh;
   color: aliceblue;
   font-weight: bold;
}
.stream_holder {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   outline: solid 0px white;
   position: relative;
   margin-top: 15vh;
}
.stream_holder img {
   display: block;
   width: 640px;
   height: 480px;
   border: 2px solid #0e3e81;
}
.voice_recorder {
   display: flex;
   justify-content: center;
   width: 100%;
   outline: solid 1px white;
}
.content {
   display: flex;
   justify-content: center;
   width: 100%;
   border: 2px solid #0e3e81;
   margin-top: 2vh;
   padding: 3vh;
}

.alerts {
   display: flex;
   justify-content: center;
   margin-top: 2vh;
}
.btn-holder {
   margin-top: 3vh;
   justify-content: center;
}
#snapBtn {
   width: auto;
   height: auto;
   padding: 1.5vh;
   font-size: 1.8vh;
}