body {
   margin: 0;
   background: #1A2226;
   font-family: 'Roboto', sans-serif;
   color: white;
}
#logged {
   width: 23vw;
   text-align: center;
}
#logged p{
   margin-top: 1vh;
   color: white;
   font-size: 1.6vh;
   font-family: 'Roboto', sans-serif;
   float: right;
}

#info_btn, #settings_btn {
   font-size: 1.5vh;
   color: aliceblue;
   font-weight: bold;
   float: right;
}

#logout_btn, #gallery_btn {
   font-size: 1.5vh;
   color: aliceblue;
   font-weight: bold;
   float: right;
}

#logout_btn:hover, #gallery_btn:hover, #info_btn:hover, #settings_btn:hover {
   background-color: white;
   color: #0d6efd;
}
.navbar {
   background-color: #0e3e81;
}

.mode {
   display: flex;
   margin-top: 15vh;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 5vh;
   background-color: #0e3e81;
}
.mode > a {
   padding: 5px;
   height: 100%;
   width: 100%;
}
.mode > a > button {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 2vh;
   width: 100%;
   height: 100%;
   background-color: #0e3e81;
   color: aliceblue;
   border: 0;
}
.mode_btn.active, .mode_btn:hover {
   font-size: 2.1vh;
   color: aliceblue;
   font-weight: bold;
}
.stream_holder {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   outline: solid 0px white;
   position: relative;
   margin-top: 15vh;
}
.stream_holder img {
   display: block;
   width: 768px;
   height: 576px;
   border: 2px solid #0e3e81;
}
.voice_recorder {
   display: flex;
   justify-content: center;
   width: 100%;
   outline: solid 1px white;
}
.content {
   display: flex;
   justify-content: center;
   width: 100%;
   border: 2px solid #0e3e81;
   margin-top: 2vh;
   padding: 3vh;
}

.alerts {
   display: flex;
   justify-content: center;
   margin-top: 2vh;
}
.btn-holder {
   margin-top: 3vh;
   justify-content: center;
}
#snapBtn {
   width: auto;
   height: auto;
   padding: 1.5vh;
   font-size: 1.8vh;
}

.offcanvas {
   color: black;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   .stream_holder img {
      width: 576px;
      height: 432px;
   }
   .stream_holder {
      margin-top: 5vh;
   }
   .mode {
      margin-top: 5vh;
   }
}

@media only screen and (max-width: 576px) {
  /* For mobile phones: */
   .stream_holder img {
      width: 384px;
      height: 288px;
   }
   .stream_holder {
      margin-top: 5vh;
   }
   .mode {
      margin-top: 2vh;
      height: auto;
   }
   #logged p{
      margin-top: 1vh;
      color: white;
      font-size: 1.4vh;
      font-family: 'Roboto', sans-serif;
      float: right;
   }

   #logout_btn, #gallery_btn {
      font-size: 1.4vh;
      color: aliceblue;
      font-weight: bold;
      float: right;
   }
   #logout_btn {
      width: 25vw;
   }
   #gallery_btn {
      width: 25vw;
   }
   .navbar-brand {
      font-size: 1.7vh;
   }
   .justify-content-end {
      justify-content: space-around!important;
   }
   .btn-holder {
      margin-top: 1.5vh;
   }
   #snapBtn {
      font-size: 1.7vh;
      padding: 0.7vh;
      width: 30vw;
   }
   .mode > a > button {
      font-size: 1.6vh;
   }
   .mode_btn.active, .mode_btn:hover {
      font-size: 1.6vh;
   }
   .content {
      margin-top: 1vh;
   }
   .alerts {
      margin-top: 1vh;
   }
   div.container-fluid {
      padding: 1.2vw;
   }
   .nav-link {
      padding: 0;
   }
}