body {
   margin: 0;
   background: #1A2226;
   font-family: 'Roboto', sans-serif;
   color: white;
}
div#logged.col {
   display: flex;
   width: auto;
   text-align: center;
   justify-content: center;
}
#logged p{
   color: white;
   font-size: 1.2vw;
   font-family: 'Roboto', sans-serif;
   padding-top: 2vh;
}
p {
   margin-bottom: 0.5rem;
}

.nav-link {
   padding: 0.3rem;
}

.nav-link > button.nav-btn > i {
   margin-right: 0.5vw;
}

.nav-link > button.nav-btn {
   display: flex;
   flex-direction: row;
   color: aliceblue;
   font-weight: bold;
   float: right;
   font-size: 1vw;
   background-color: #0e3e81;
   border-color: white;
}

.nav-link > button.nav-btn:hover, .nav-link > button.nav-btn:focus {
   background-color: white;
   color: #0d6efd;
}
.navbar {
   background-color: #0e3e81;
}
.carousel {
    width: 768px;  /* 640:480 x 1.2 */
    height: 576px;
    border: 3px solid #0e3e81;
}
.carousel-holder {
    margin-top: 10vh;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-title, label.col-form-label {
    color: black;
}
.alert-holder {
    width: 50vw;
    text-align: center;
}
.alert-row{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty-message {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.empty-message > strong.empty-heading {
    font-size: 2.7vh;
    margin-bottom: 3vh;
}
.empty-message > strong.empty-description {
    font-size: 2vh;
}

@media only screen and (max-width: 1920px) {
  /* For large monitors: */
   .carousel {
      width: 832px;
      height: 624px;
   }

   #logged p{
      font-size: 16px;
      margin-right: 2vw;
   }
   .nav-link > button.nav-btn{
      font-size: 15px;
   }

   .navbar-brand {
      font-size: 23px;
   }
   .carousel-holder {
       margin-top: 16vh;
   }

}

@media only screen and (max-width: 1280px) {
    .carousel {
        width: 544px;
        height: 408px;
    }
    .navbar-brand {
      font-size: 21px;
   }
   .nav-link > button.nav-btn{
      font-size: 13px;
   }
   #logged p{
      font-size: 15px;
   }
   .h5, h5 {
       font-size: 1rem;
       font-weight: inherit;
   }
   .carousel-caption > p {
       font-size: 0.8rem;
        font-weight: lighter;
       margin-bottom: 0;
   }
   .carousel-control-prev-icon {
       width: 1.8rem;
       height: 1.8rem;
   }
   .carousel-control-next-icon {
       width: 1.8rem;
       height: 1.8rem;
   }
   #edit_btn > i, #delete_btn > i {
       font-size: 13px;
   }
   .carousel-holder {
       margin-top: 10vh;
   }
}

@media only screen and (max-width: 1024px) {
    .carousel {
        width: 435px;
        height: 326px;
    }
    #logged p{
      font-size: 1.4vw;
      margin-right: 2vw;
   }
   .nav-link > button.nav-btn{
      font-size: 12px;
   }
   .carousel-holder {
       margin-top: 13vh;
   }
   #edit_btn > i, #delete_btn > i {
       font-size: 12px;
   }
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .carousel {
        width: 384px;
        height: 288px;
    }

    .carousel-holder {
       margin-top: 12vh;
   }

   #logged p {
      margin-top: 1vh;
      color: white;
      font-size: 2.5vw;
      font-family: 'Roboto', sans-serif;
      float: right;
   }
   .nav-link-main {
      margin-right: 5vw;
   }

   .nav-link-main > button.nav-btn{
      font-size: 10px;
   }
   .navbar-brand {
      font-size: 18px;
   }
   .justify-content-end {
      justify-content: space-around!important;
   }
    .h5, h5 {
       font-size: 1.1rem;
       font-weight: inherit;
   }
   .carousel-caption > p {
       font-size: 0.8rem;
        font-weight: lighter;
       margin-bottom: 0;
   }
   .carousel-control-prev-icon {
       width: 1.6rem;
       height: 1.6rem;
   }
   .carousel-control-next-icon {
       width: 1.6rem;
       height: 1.6rem;
   }
   #edit_btn > i, #delete_btn > i {
       font-size: 10px;
   }
}