body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 20vh;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    margin-top: 30px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 50px;
    text-align: left;
}

.alert-holder {
    height: auto;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#inputPassword {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 45px;
    outline: 0px;
}

#password_form_group {
    margin-bottom: 10px;
}

#password_conditions {
    font-size: 11px;
    color: #6C6C6C;
}

.password_condition {
    margin: 8px;
}

.password_condition.active {
    color: white;
    font-weight: bold;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}
input.valid {
    outline: none;
    box-shadow: 0 0 0;
    border-bottom: 2px solid #0DB8DE;
}

input.invalid {
    outline: none;
    box-shadow: 0 0 0;
    border-bottom: 2px solid #EF340D;
}

input.valid:focus {
    outline: none;
    box-shadow: 0 0 0;
    border-bottom: 3px solid #0DB8DE;
}

input.invalid:focus {
    outline: none;
    box-shadow: 0 0 0;
    border-bottom: 3px solid #EF340D;
}


label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-control-label-focused {
    font-size: 11px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.btn-outline-primary:disabled {
    color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: right;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.to-login-message {
    font-size: 15px;
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    /* For laptops: */
    .login-box {
        margin-top: 5vh;
        width: 40%;
    }
    .login-box#signup-box{
        margin-top: 2.5vh;
        width: 40%;
    }
    div.row > div.col-lg-3 {
        width: 30%;
    }
    .login-key {
        font-size: 55px;
        margin-top: 20px;
    }
    .login-title {
        font-size: 22px;
        margin-top: 20px;
    }
    .login-form {
        margin-top: 20px;
    }
    .form-group.signup-group {
        margin-bottom: 30px;
    }
    .alert > strong {
        font-size: 14px;
    }
    .alert-dismissible .btn-close {
        padding: 1rem 0.75rem;
    }
    .alert {
        padding: 0.75rem;
        margin-bottom: 0;
    }
    .to-login-message {
        font-size: 14px;
    }
    .login-button {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    /* For tablets: */
    .login-box {
        margin-top: 6vh;
        width: 50%;
    }
    .login-box#signup-box{
        margin-top: 2.5vh;
    }
    div.row > div.col-lg-3 {
        width: 25%;
    }
    .login-key {
        font-size: 45px;
        margin-top: 15px;
    }
    .login-title {
        font-size: 20px;
        margin-top: 15px;
    }
    .login-form {
        margin-top: 15px;
    }
    .form-group.signup-group {
        margin-bottom: 25px;
    }
    .alert > strong {
        font-size: 13px;
    }
    .alert-dismissible .btn-close {
        padding: 1rem 0.75rem;
    }
    .alert {
        padding: 0.75rem;
        margin-bottom: 0;
    }
    .to-login-message {
        font-size: 13px;
    }
    .login-button {
        margin-bottom: 15px;
    }
    .login-button > button {
         font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .login-box {
        margin-top: 5vh;
        width: 70%;
    }
    .login-box#signup-box{
        margin-top: 2.5vh;
    }
    div.row > div.col-lg-3 {
        width: 15%;
    }
    .login-key {
        font-size: 50px;
        margin-top: 20px;
    }
    .login-title {
        font-size: 18px;
        margin-top: 20px;
    }
    .login-form {
        margin-top: 25px;
    }
    .form-group.signup-group {
        margin-bottom: 20px;
    }
    .alert > strong {
        font-size: 12px;
    }
    .alert-dismissible .btn-close {
        padding: 1rem 0.75rem;
    }
    .alert {
        padding: 0.75rem;
        margin-bottom: 0;
    }
    .to-login-message {
        font-size: 11px;
    }
    .login-button {
        margin-bottom: 15px;
    }
    .login-button > button {
         font-size: 13px;
    }
}