{% extends "base.html" %}

{% block title %} Auto {% endblock %}


<!--
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
            </symbol>
        </svg>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // listen for mqtt_message events
        // when a new message is received, log and append the data to the page
        socket.on('mqtt_message', function(data) {
          console.log(data);
          //var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
            var text;
          if (data['payload'] === "object_lost")  text = "Unfortunately, your pet got away from the robot. Would you like to switch to manual mode?"
          //$('#subscribe_messages').append(text + '<br><br>');
            $('#subscribe_messages').append('<div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert"> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg> <div id="message">'
            + text + '</div> <a href="/manual_mode" style="margin-right: 1vw;"><button type="button" class="btn btn-outline-dark">Yes</button></a> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>');
        })
      });
    </script>

    <div id="subscribe_messages"></div>

    <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div id="message">

        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
-->


{% block content %}

    <a href=# id="forget"><button class='btn btn-default'>Forget</button></a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

            $(function() {
              $('a#forget').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/forget_object',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>

{% endblock %}
