<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %} {% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/bootstrap_5_0_2.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base_stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Make favicon -->
    <link rel="icon" type="image/png" href="#">

    <!-- JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.bundle_5_0_2.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Additional styles and scripts will go here -->
	{% block head %}

	{% endblock %}

</head>

<body>

    <script>
        /*
        navigator
            .mediaDevices
            .getUserMedia({audio: true})
            .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data, 'data.mp3');
            form.append('title', 'data.mp3');
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/save-record',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            startRecording.disabled = true;
            stopRecording.disabled = false;
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            rec.stop();
        };*/

        $(document).ready(function() {
            if (/manual/.test(window.location.href)) {
                $("#manual_btn").toggleClass("active");
                $("#manual_link").toggleClass("disabled");
            }
            else if(/auto/.test(window.location.href)) {
                $("#auto_btn").toggleClass("active");
                $("#auto_link").toggleClass("disabled");
            }
        })

        $(document).ready(function() {
            motors_check();
            init();
            setInterval("check_vis()",10000); // call every 10 seconds
        });


        function check_vis() {
            $.ajax({
                url: '/check_status',
                success: function (data) {
                     // console.log(data);

                     if(data === "not_visible") {
                         window.location.replace("http://petbot.ddns.net/manual_mode")
                     }
                     else if(data === "visible") {
                         window.location.replace("http://petbot.ddns.net/automated_mode")
                     }
                }
            });
        }

        $(function() {
              $('button#snapBtn').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/snap',
                    function(data) {
                  //open drop menu with the taken photo
                });
                //return false;
              });
        });

        function motors_check() {
            $.ajax({
                type: "GET",
                url: '/motors_power',
                success: function (data) {
                     //console.log(data);

                     if(data === "on") {
                         let checkbox = document.getElementById("flexSwitchCheck");
                         checkbox.setAttribute("checked", "checked")
                         checkbox.checked = true;
                     }
                     else if(data === "off") {
                         let checkbox = document.getElementById("flexSwitchCheck");
                         checkbox.removeAttribute("checked");
                         checkbox.checked = false;
                     }
                }
            });
        }

        function motors_switch() {
            $.ajax({
                type: "POST",
                url: '/motors_power',
                success: function (data) {
                     //console.log(data);

                     if(data === "on") {
                         let checkbox = document.getElementById("flexSwitchCheck");
                         checkbox.setAttribute("checked", "checked")
                         checkbox.checked = true;
                     }
                     else if(data === "off") {
                         let checkbox = document.getElementById("flexSwitchCheck");
                         checkbox.removeAttribute("checked");
                         checkbox.checked = false;
                     }
                }
            });
        }

        $(function() {
              $('input#flexSwitchCheck').on('click', function(e) {
                  e.preventDefault()
                  motors_switch();
              });
        });

        $.fn.camera_left = function () {
            $.getJSON('/camera/left',
                    function(data) {
                  //do nothing
                });

            return false;
        }

        $.fn.camera_right = function () {
            $.getJSON('/camera/right',
                    function(data) {
                  //do nothing
                });

            return false;
        }

        $.fn.camera_up = function () {
            $.getJSON('/camera/up',
                    function(data) {
                  //do nothing
                });

            return false;
        }

        $.fn.camera_down = function () {
            $.getJSON('/camera/down',
                    function(data) {
                  //do nothing
                });

            return false;
        }

        $.fn.camera_stop = function () {
            $.getJSON('/camera/stop',
                    function(data) {
                  //do nothing
                });

            return false;
        }

            $(function() {
              $('button#camera-up').on('touchstart mousedown', function(e) {
                e.preventDefault()
                $.fn.camera_up()
              });
            });

            $(function() {
              $('button#camera-down').on('touchstart mousedown', function(e) {
                e.preventDefault()
                $.fn.camera_down()
              });
            });

            $(function() {
              $('button#camera-left').on('touchstart mousedown', function(e) {
                e.preventDefault()
                $.fn.camera_left()
              });
            });

            $(function() {
              $('button#camera-right').on('touchstart mousedown', function(e) {
                e.preventDefault()
                $.fn.camera_right()
              });
            });

            $(function() {
              $('button.camera-direction').on('touchend mouseup', function(e) {
                e.preventDefault()
                $.fn.camera_stop()
              });
            });

    </script>

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-dark">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">PetSurveillanceSystem</span>

                        <div class="col" id="logged">
                            <p>You are logged in as <strong>{{ name }}</strong></p>
                        </div>
                        <div class="col" id="logout">
                            <div class="d-flex justify-content-end">
                                <a class="nav-link active" aria-current="page">
                                    <button class="rounded btn btn-primary" type="button" id="settings_btn"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">
                                            <i class="bi bi-sliders" aria-hidden="true"></i>
                                            Settings
                                    </button>
                                </a>
                                <a class="nav-link active" aria-current="page">
                                    <button class="rounded btn btn-primary" type="button" id="info_btn"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                                            aria-controls="offcanvasTop">
                                            <i class="bi bi-info-circle" aria-hidden="true"></i>
                                            Instructions
                                    </button>
                                </a>
                                <a class="nav-link active" aria-current="page" href="/gallery"><button class="rounded btn btn-primary" id="gallery_btn"> <i class="bi bi-images" aria-hidden="true"></i>
                                Gallery</button></a>
                                <a class="nav-link active" aria-current="page" href="/logout"><button class="rounded btn btn-primary" id="logout_btn"> <i class="bi bi-box-arrow-right"></i>
                                Logout</button></a>
                            </div>
                        </div>
                </div>
            </nav>
            <div class="col">
                <div class="row">
                    <div class="stream_holder">
                        <!-- Stream container will go here -->
                        <img src="{{ url_for('video_feed') }}" class="rounded-3" alt="Video stream">
                        <div class="d-flex flex-column camera-controls-flex">
                            <div class="row first">
                                <button id="camera-up" type="button" class="btn btn-outline-primary camera-direction"><i class="fa fa-arrow-up"></i></button>
                            </div>
                            <div class="row second">
                                <button id="camera-left" type="button" class="btn btn-outline-primary camera-direction"><i class="fa fa-arrow-left"></i></button>
                                <button id="camera-right" type="button" class="btn btn-outline-primary camera-direction"><i class="fa fa-arrow-right"></i></button>
                            </div>
                            <div class="row third">
                                <button id="camera-down" type="button" class="btn btn-outline-primary camera-direction"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row btn-holder">
                    <button type="button" class="btn btn-outline-primary" id="snapBtn"><i class="fa fa-camera"></i>
                        Snap </button>
                </div>

            </div>
            <div class="col">
                <div class="mode rounded">
                        <a href="/automated_mode" id="auto_link"><button class="rounded btn btn-primary mode_btn" id="auto_btn"> AUTO </button></a>
                        <a href="/manual_mode" id="manual_link"><button class="rounded btn btn-primary mode_btn" id="manual_btn"> MANUAL </button></a>
                </div>
                <!--
                <div id="status">

                </div>

                <div class="voice_recorder">
                    <button id="startRecording">Start recording</button>
                    <button id="stopRecording" disabled>Stop recording</button>
                </div>
                -->
                <div class="alerts">
                    {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    <strong>{{ messages[0] }}</strong>
                                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endwith %}
                </div>

                <div class="content rounded">
                    <!-- Content will go here -->
                    {% block content %}
                    {% endblock %}
                </div>


            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">Instructions for use</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">System settings</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="form-check form-switch">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheck">
            <label class="form-check-label" for="flexSwitchCheck">Turn motors on/off</label>
        </div>
      </div>
    </div>
</body>
</html>
