<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %}Title{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Make favicon -->
    <link rel="icon" type="image/png" href="#">

    <!-- Additional styles and scripts will go here -->
	{% block head %}

	{% endblock %}

</head>

<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#auto_switch').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/change_mode_to_auto',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            $(function() {
              $('a#manual_switch').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/change_mode_to_manual',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <div class="main">
        <div class="content">
            <div class="stream_holder">
                <!-- Stream container will go here -->
                <img src="{{ url_for('video_feed') }}">
            </div>
            <div class="mode">
                <div class="mode_holder">
                    <div class="auto">
                        <a href="#" id="auto_switch"> AUTO </a>
                    </div>
                </div>
                <div class="mode_holder">
                    <div class="manual">
                        <a href="#" id="manual_switch"> MANUAL </a>
                    </div>
                </div>
            </div>
            <div class="controls">
                <!-- Content will go here -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>

</html>
