<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Make favicon -->
    <link rel="icon" type="image/png" href="#">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Additional styles and scripts will go here -->
	{% block head %}

	{% endblock %}

</head>

<body>

    <script>
        navigator
            .mediaDevices
            .getUserMedia({audio: true})
            .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data, 'data.mp3');
            form.append('title', 'data.mp3');
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/save-record',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            startRecording.disabled = true;
            stopRecording.disabled = false;
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            rec.stop();
        };
    </script>

    <div class="main">
        <div class="content">
            <div class="stream_holder">
                <!-- Stream container will go here -->
                <img src="{{ url_for('video_feed') }}">
            </div>
            <div class="mode">
                <div class="mode_holder">
                    <div class="auto">
                        <a href="/automated_mode" id="auto_switch"> AUTO </a>
                    </div>
                </div>
                <div class="mode_holder">
                    <div class="manual">
                        <a href="/manual_mode" id="manual_switch"> MANUAL </a>
                    </div>
                </div>
            </div>
            <div class="alerts">
                {% block alerts %}

                {% endblock %}
            </div>
            <div class="voice_recorder">
                <button id="startRecording">Start recording</button>
                <button id="stopRecording" disabled>Stop recording</button>
            </div>
            <div class="controls">
                <!-- Content will go here -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>
</html>
