<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome!</title>
</head>

<body>
    <h1>Welcome to Pet Surveillance System!</h1>

    <a href="/login" id="login"><button class='btn btn-default'>Log in</button></a>
    <a href="/signup" id="signup"><button class='btn btn-default'>Sign up</button></a>
</body>
</html>