<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>PetSurveillanceSystem - Log in</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login_stylesheet.css">

    <!-- Make favicon -->
    <link rel="icon" type="image/png" href="#">

    <!-- JavaScript -->
    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    LOG IN TO ACCESS THE SURVEILLANCE SYSTEM
                </div>

                <div class="col-lg-12 alert-holder">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <strong>{{ messages[0] }}</strong>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="POST" action="/login">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-group">
                                <label for="inputUsername" class="form-control-label">USERNAME</label>
                                <input type="text" class="form-control valid"
                                       name="username" id="inputUsername"
                                       value="{{ request.form['username'] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="form-control-label">PASSWORD</label>
                                <input type="password" class="form-control valid"
                                       name="password" id="inputPassword"
                                       value="{{ request.form['password'] }}" required>
                            </div>
                            <div class="d-flex justify-content-between flex-row">
                                <p class="to-login-message"> Don't have an account? <a href="/signup" class="link-info">Sign up</a></p>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>

    <script>

        $(".btn-close").click(function() {
            document.querySelector(".alert-holder").style.height = "0px";
        })

        $("input#inputUsername").focus(function () {
            $("label[for=inputUsername]").removeClass("form-control-label").addClass("form-control-label-focused");
        }).blur(function () {
            $("label[for=inputUsername]").removeClass("form-control-label-focused").addClass("form-control-label");
        })

        $("input#inputPassword").focus(function () {
            $("label[for=inputPassword]").removeClass("form-control-label").addClass("form-control-label-focused");
        }).blur(function () {
            $("label[for=inputPassword]").removeClass("form-control-label-focused").addClass("form-control-label");
        })

    </script>
</body>
</html>