{% extends "base.html" %}

{% block title %} - Manual {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/manual_stylesheet.css">
{% endblock %}

{% block content %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('button#forward').mousedown(function(e) {
                e.preventDefault()
                $.getJSON('/forward',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            $(function() {
              $('button#left').mousedown(function(e) {
                e.preventDefault()
                $.getJSON('/left',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            $(function() {
              $('button#right').mousedown(function(e) {
                e.preventDefault()
                $.getJSON('/right',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            $(function() {
              $('button#backward').mousedown(function(e) {
                e.preventDefault()
                $.getJSON('/backward',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            $(function() {
              $('button.direction').mouseup(function(e) {
                e.preventDefault()
                $.getJSON('/stop',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });

            // FOR MOBILE

            $(function() {
              $('button#forward').on('touchstart', function(e) {
                e.preventDefault()
                $.getJSON('/forward',
                    function(data) {
                  //do nothing
                });
                //return false;
              });
            });

            $(function() {
              $('button#left').on('touchstart', function(e) {
                e.preventDefault()
                $.getJSON('/left',
                    function(data) {
                  //do nothing
                });
                //return false;
              });
            });

            $(function() {
              $('button#right').on('touchstart', function(e) {
                e.preventDefault()
                $.getJSON('/right',
                    function(data) {
                  //do nothing
                });
                //return false;
              });
            });

            $(function() {
              $('button#backward').on('touchstart', function(e) {
                e.preventDefault()
                $.getJSON('/backward',
                    function(data) {
                  //do nothing
                });
                //return false;
              });
            });

            $(function() {
              $('button.direction').on('touchend', function(e) {
                e.preventDefault()
                $.getJSON('/stop',
                    function(data) {
                  //do nothing
                });
                //return false;
              });
            });
    </script>

    <button id="forward" type="button" class="btn btn-outline-primary direction">Forward</button>
    <button id="left" type="button" class="btn btn-outline-primary direction">Left</button>
    <button id="right" type="button" class="btn btn-outline-primary direction">Right</button>
    <button id="backward" type="button" class="btn btn-outline-primary direction">Backward</button>

{% endblock %}
