{% extends "base.html" %}

{% block title %} PetSurveillanceSystem - Manual {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/manual_stylesheet.css">
{% endblock %}

{% block content %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

            function move_forward() {
                $.getJSON('/forward',
                    function(data) {
                  //do nothing
                });
                return false;
            }

            function  turn_left() {
                $.getJSON('/left',
                    function(data) {
                  //do nothing
                });
                return false;
            }

            function turn_right() {
                $.getJSON('/right',
                    function(data) {
                  //do nothing
                });
                return false;
            }

            function move_backward() {
                $.getJSON('/backward',
                    function(data) {
                  //do nothing
                });
                return false;
            }

            function stop() {
                $.getJSON('/stop',
                    function(data) {
                  //do nothing
                });
                return false;
            }

            $(function() {
              $('button#forward').on('touchstart mousedown', function(e) {
                e.preventDefault()
                move_forward();
              });
            });

            $(function() {
              $('button#left').on('touchstart mousedown', function(e) {
                e.preventDefault()
                turn_left();
              });
            });

            $(function() {
              $('button#right').on('touchstart mousedown', function(e) {
                e.preventDefault()
                turn_right();
              });
            });

            $(function() {
              $('button#backward').on('touchstart mousedown', function(e) {
                e.preventDefault()
                move_backward();
              });
            });

            $(function() {
              $('button.direction').on('touchend mouseup', function(e) {
                e.preventDefault()
                stop();
              });
            });

            $(document).keydown(function(e) {
                e.preventDefault()

                if(e.keyCode === 38 /* up */ || e.keyCode === 87 /* w */) {
                    move_forward();
                }
                else if(e.keyCode === 39 /* right */ || e.keyCode === 68 /* d */) {
                    turn_right();
                }
                else if(e.keyCode === 37 /* left */ || e.keyCode === 65 /* a */) {
                    turn_left();
                }
                else if(e.keyCode === 40 /* down */ || e.keyCode === 83 /* s */) {
                    move_backward()
                }
            }).keyup(function (e) {
                e.preventDefault()
                stop();
            })
    </script>

    <div class="d-flex flex-column controls_holder">
                        <div class="row first">
                            <button id="forward" type="button" class="btn btn-outline-primary direction"><i class="fa fa-arrow-up"></i></button>
                        </div>
                        <div class="row second">
                            <button id="left" type="button" class="btn btn-outline-primary direction"><i class="fa fa-arrow-left"></i></button>
                            <button id="right" type="button" class="btn btn-outline-primary direction"><i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="row third">
                            <button id="backward" type="button" class="btn btn-outline-primary direction"><i class="fa fa-arrow-down"></i></button>
                        </div>
    </div>

{% endblock %}
